body{
  background-color:C0C0C0;
}

div{
  background-color:ADD8E6;
  padding:5px;
  margin:10px;
}
.footer{
  background-color:A52A2A;
  text-align:justify;
}
.content span{
  text-align:center;
  color:yellow;
  font-weight:900;
  font-size:23px;
}
p+p{
  font-style:italic;
}

.content p{
  text-align:justify;
  
}
h4::before{
  content: "Good morning";
  color:blue;
  font-weight:bold;
}
h5::after{
  content: "Good Bye!";
  color:black;
  font-weight:bold;
}
h3:hover{
  color:gray;
  font-style:italic;
}
a:link{
  color:red;
}
a:visited{
  color:blue;
}
.vis{
  visibility:hidden;
}
.block{
  display: block;
  font-style:italic;
}
.semi-visible{
  opacity:0.5;
}
.inline {
  display: inline;
  font-style:italic;
}
img{
  filter: grayscale(50%);
  position: relative;
  width:166px;
  height:98x;
  left:50px;
  animation: image 5s;
}
img:hover{
  width:240px;
  height:135x;
  
}
@keyframes image {
  from {left:1000px;}
  to {left:50px}
}
